.auth-form {
    background-color: black;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    max-width: 500px;
    margin-left: auto;
    top: 50px;
    margin-right: auto;
  
   
}
.helptext {
    display: none;
}
.auth-form h2 {
    text-align: center;
    color: #35424a;
    margin-bottom: 20px;
}

.auth-form p {
    text-align: center;
    margin-top: 15px;
}

.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background: #35424a;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
.messages {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.messages li {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.messages .success {
    background: #d4edda;
    color: #155724;
}

.messages .error {
    background: #f8d7da;
    color: #721c24;
}
.profile-info {
    background: #ffffff;
    padding: 20px;
    
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.welcome-message {
    color: #e8491d;
    text-align: center;
}