
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: white;
    padding: 10px;
    font-family: lato,sans-serif;
    font-weight: 300;
}


.container {
    background: #6461615e;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #007BFF;
    font-weight: 300;
}


form {
    display: flex;
    flex-direction: column;
}


label {
    margin-bottom: 8px;
    font-weight: 300;
}

input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
}

button {
    background-color: #1b3e6458;
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}


@media screen and (max-width: 480px) {
    .container {
        height: 70%;
        width: 70%;
        padding: 15px 20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        font-size: 70%;
    }

    h1 {
        font-size: 18px;
    }

    input {
        font-size: 12px;
        padding: 8px;
    }

    button {
        padding: 10px;
        font-size: 10px;
    }
}