*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
    }
    html,body{
    background-color: white;
    color: #2c2a2a;
    font-family: lato,sans-serif;
    font-size: 20px;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    }
    #menu-icon{
      font-size: 2rem;
      color: white;
      display: none;
    } 

    header{
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("OIP.jpeg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
    }
    h1{
      margin-top: 0px;
      margin-bottom: 20px;
      padding: 0;
      color: white;
    font-size: 150%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
    line-height: 2;
    
    }
    .hero-text{
    position: absolute;
    width: 1140px;
    top: 50%;
      text-align: center;
      left: 12%;
    }
    .btn:link,
    .btn:visited,
    input[type=submit]{
      display: inline;
      padding: 10px 30px;
      text-decoration: none;
      font-weight: 300;
      border-radius: 200px;
      transition: backgrounf-color 0.2s,border 0.2s,color 0.2s;
    }
    .btn-full:link,
    .btn-full:visited,
    input[type=submit]{
      background-color: rgba(28, 99, 147, 0.838);
      color: white;
      border: 1px solid rgb(53, 136, 178);
      margin-right: 25px;
    }
    .btn-ghost:link,
    .btn-ghost:visited{
      border: 1px solid rgba(24, 146, 207, 0.877);
      color: rgb(2, 131, 236);
    
    }
    .btn:hover,
    .btn:active{
    background-color: rgba(36, 96, 118, 0.663);
    }
    .btn-ghost:hover,
    .btn-ghost:active{
      border: 1px solid #4182ba;
      color: white;
    }
    .btn-full:hover,
    .btn-full:active,
    input[type=submit]:hover{
      border: 1px solid #4296c3;
      color: white;
    }
    .logo{
      height: 130px;
      width: auto;
      float: left;
      margin-top: 25px;
      border-radius: 50%;
      margin-left: 30px;
      margin-right: 0;
    }
    
    .main-nav{
      float: right;
      list-style: none;
      margin-top: 55px;
      margin-right: 50px;
    
    }
    
    .main-nav li{
      display: inline-block;
      margin-left: 90px;
    
    }
    .main-nav li a{
      color:white;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 90%;
    border: 2px solid transparent;
    padding: 8px 15px;
    transition: border-bottom 0.2s;
    border: 2px solid #285c89bb;
    border-radius: 20px;
    }
    .main-nav li a:hover{
      background-color: #24527aa4;
      border-radius: 20px;
      
    }
    .about{margin-top: 20px;
      margin-left: 90px;
      margin-right: 90px;
      text-align: center;
     
    }
    .about h1{
      font-size: 1.8rem;
      color:rgb(223, 229, 237);
    }
    .about p,.serve p{
      color: rgba(255, 255, 255, 0.66);
      line-height: 1.5;
      font-size: 1.3rem;
      font-weight: 300;
      margin-top: 20px;
      text-align: justify;
    }
    .about span{
      color: #1396dd;
    }
    .serve{
      margin-top: 20px;
      margin-left: 90px;
      margin-right: 90px;
      text-align: center;

    }
    .serve h1{
      margin-top: 30px;
      color: #ccd6db;
      font-size: 1.8rem;
    }
    .disease{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 40px;
    }
    .disease div{
      margin-left: 20px;
      margin-right: 20px;
      background-color: #6598b447;
      
    }
    .disease div:hover{
      transform: scale(1.1);
    }
    .CVD , .diabetes{
      margin: 20px;
    }
    .disease h2{
      font-size: 1.4rem;
      font-weight: 400;
    }
    .disease p{
      color: #98acb7;
    }
    .disease h2{
      color: aliceblue;
    }
 
   footer{
    height: 50px;
    text-align: center;
    background-color: #32323aab;
    color: white;
    
   }
   footer p{
    margin-top: 30px;
    padding-top: 20px;
    font-weight: 300;
   }
  
@media screen and (max-width: 768px) {
 


  .about, .serve {
    padding: 10px;
    margin: 10px;
    text-align: center;
  }

  .about h1, .serve h1 {
    font-size: 1.3rem;
    margin-bottom: 10px;
  }

  .about p, .serve p {
    font-size: 0.7rem;
    line-height: 1.5;
  }
  .disease h2{
    font-size: 1rem;
  }
  .disease {
    flex-direction: column;
    align-items: center;
    margin: 10px auto;
  }

  .disease div {
    margin: 10px 0; 
    padding: 10px;
    background-color: rgba(40, 100, 132, 0.2); 
  }

 
  #menu-icon{
    display: block
}
#menu-icon{
  display: block;
  float:right;
  margin-top: 30px;
}
.main-nav{
  display: none;
}
.main-nav.active{
  display: block;
  

}
.main-nav.active ul{
  display: block;
}
.main-nav.active li a{
  color:white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 70%;
  padding: 8px 15px;
  transition: border-bottom 0.2s;
  border: none;
  text-align: center;
  margin-left: 50px;
  margin: 0;
  margin-left: 150px;
  line-height: 3;
}
.main-nav.active li{
  margin-bottom: 40px;
  margin: 0;
  padding: 0;
}
.logo{
  height: 80px;
}
.hero-text h1{
  font-size: 1rem;
  margin-left: 0px;
  padding: 0;
  width: 300px;
  padding-right: 30px;
}
.btn-full,.btn-ghost{
  margin: 0;
  padding: 0;
  position: relative;
  margin-right: 850px;
  font-size: 0.6rem;
  margin-top: 30px;
}
footer{
  font-size: 0.8rem;
}
}
.whole{
  background-color: #070707;
}
